:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.deleteIcon {
  width: 22px;
  height: 22px;
}

.modal-container {
  position: fixed;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  top: 1%;
  right: 1px;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
}

.modal-container > form {
  background-color: rgba(26, 26, 26, 0.6);
  padding: 1rem 2rem;
  border-radius: 1rem;
}

input[type="file"] {
  display: none;
}

.addTodo-form {
  z-index: 1;
  position: sticky;
  bottom: 0;
  padding: 1rem 0;
  left: 0;
  background-color: #272727FF;
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 98vw;
  flex-wrap: wrap;
}

.addTodo-form > input {
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 7px;
}

.addTodo-form > input::placeholder {
  font-size: 17px;
}

.attachIcon {
  padding: 7px 7px 0 0;
  width: 25px;
  height: 20px;
  rotate: -40deg;
}

.attachIcon:hover{
  cursor: pointer;
}

.todo {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(255, 255, 255, 0.3) 0px 1px 3px -1px;
  padding: 1rem 0.5rem;
}

.table-header {
  display: none;
}

.table-header > h3:last-child {
  text-align: left;
  padding-left: 8px;
}

.todos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding: 1.5rem 0;
}

.header-txt {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title-label {
  font-size: 20px;
}

p {
  font-size: 15px;
}

.checkbox-container {
  display: inline;
}

@media screen and (min-width: 780px) {

  .todos-container {
    display: block;
    font-weight: 400;
  }

  .title-label {
    font-size: 17px;
  }
  
  .todo {
    display: grid;
    align-items: center;
    grid-template-columns: 15vw 25vw 23vw 1fr;
  }
  
  .table-header {
    display: grid;
    grid-template-columns: 15vw 25vw 23vw 1fr;
  }

  .table-header > h3:last-child {
    text-align: center;
  }

  .checkbox-container {
    display: grid;
    grid-template-columns: 30% 30%;
  }
}

.edit-delete-cont {
  display: flex;
  justify-content: center;
  gap: 10px;
}
